{{!-- * Create a button in `index.handlebars` that 
will submit the user input into the database. --}}
<div class ="container">
  
  <div class="col-sm-12 col-md-4 col-lg-4 mb-5 text-center">
    <form id="createburger">
      <div class="form-group">
        <label for="text-area">Enter the name of a burger you want to eat. Click Submit.</label>
          <textarea type="text" data-id= "1" name="burgeridea" placeholder="burger name" class="form-control" id="text-area1" rows="3"></textarea>
        </div>   
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{{!-- {{#each burger_data}}
    {{#if this.devoured}} --}}



{{!-- // Make sure we wait to attach our handlers until the DOM is fully loaded.
// $(function() {
//  $(".devour-burger").on("click", function(event) {
//    var id = $(this).data("id");
//   var newDevour = $(this).data("newDevour");

//    var newDevourState = {
//      devour: newDevour
//    };

    // Send the PUT request.
//    $.ajax("/api/burger/" + id, {
//      type: "PUT",
//      data: newDevourState
//    }).then(
//      function() {
//        console.log("changed devour", newDevour);
        // Reload the page to get the updated list
//        location.reload();
//      }
//    );
//  }); --}}

  
  
</script>

 